@model IEnumerable<kr.Models.child>

@{
    ViewBag.Title = "Реестр детей";
}

<h2>Реестр детей</h2>
<hr />
@using (Html.BeginForm())
{
    <p>
        Поиск: @Html.TextBox("SearchString")
        <input type="submit" value="Найти" />
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Идентификатор")
        </th>
        <th>
            @Html.DisplayName("Фамилия")
        </th>
        <th>
            @Html.DisplayName("Имя")
        </th>
        <th>
            @Html.DisplayName("Отчетсво")
        </th>
        <th>
            @Html.DisplayName("Дата рождения")
        </th>
        <th>
            @Html.DisplayName("ФИО родителя")
        </th>
        <th>
            @Html.DisplayName("Контактные данные")
        </th>
        <th>
            @Html.DisplayName("Пол")
        </th>
        <th>
            @Html.DisplayName("Тип учебного заведения")
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.patronymic_name)
            </td>
            <td>
                @(((DateTime)item.birth_date).ToString("dd.MM.yyyy"))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.parent_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.contact)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.gender1.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.school_type1.type)
            </td>
        </tr>
    }

</table>
