@model kr.Models.testQuestion

@{
    ViewBag.Title = "Создание вопросов";
}


<h2>Создание вопросов</h2>
<hr />
<style type="text/css">
    .col-1-2 {
        width: 50%;
        float: left;
    }
</style>

<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-1-2">
                <dl class="dl-horizontal" style="text-align:left">
                    <dt>
                        @Html.DisplayName("Название")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.test.name)
                    </dd>

                    <dt>
                        @Html.DisplayName("Описание")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.test.description)
                    </dd>

                    <dt>
                        @Html.DisplayName("Статус")
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.test.status.status1)
                    </dd>
                </dl>
            </div>
            <div class="col-1-2">
                <p>
                    @Html.ActionLink("Добавить вопрос", "Create", "Questions", new { id = Model.test.id }, null)
                </p>
                <table class="table">
                    <tr>
                        <th>
                            @Html.DisplayName("Название")
                        </th>
                        <th>
                            @Html.DisplayName("Тип вопроса")
                        </th>
                        <th>
                            @Html.DisplayName("Действия")
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model.questions)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.question_type.type)
                            </td>
                            <td>
                                @Html.ActionLink("Удалить вопрос", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="row">
            <p>
                @Html.ActionLink("Завершить создание теста", "Index", "Tests")
            </p>
        </div>
    </div>
</div>