@model IEnumerable<kr.Models.test>

@{
    ViewBag.Title = "Эксперименты";
}

<h2>Эксперименты</h2>

@using (Html.BeginForm())
{
    <p>
        Поиск: @Html.TextBox("SearchString")
        <input type="submit" value="Найти" />
    </p>
}
@if (User.IsInRole("admin"))
{
    <table class="table">
        <tr>
            <th>
                @Html.Display("Название")
            </th>
            <th>
                @Html.Display("Описание")
            </th>
            <th>
                @Html.Display("Статус")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status.status1)
                </td>
                <td>
                    @Html.ActionLink("Просмотреть", "Details", new { id = item.id }) |
                    @Html.ActionLink("Выгрузить отчет", "Delete", new { id = item.id })
                </td>
            </tr>
        }

    </table>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.Display("Название")
            </th>
            <th>
                @Html.Display("Описание")
            </th>
            <th>
                @Html.Display("Статус")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.status.status1)
                </td>
                <td>
                    @Html.ActionLink("Выполнить тестирование", "Create", "Test_Instance", new { id = item.id }, null)
                </td>
            </tr>
        }

    </table>
}
