@model kr.Models.childrenQuestion

@{
    ViewBag.Title = "Create";
}

<h2>Эксперимент</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.Label("Экспримент", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("test_ins_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.test_Instance.id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Вопрос", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("question_id", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.question.id, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        <div class="control-label col-md-2">
            @Html.Label(Model.question.text)
        </div>
    </div>*@

    <table class="table">
        <tr>
            @foreach (var item in Model.images)
            {
                <td align="center">
                    <img src=@item.link height="130" style="text-align:center">
                </td>
            }
        </tr>

        <tr>
            @foreach (var item in Model.images)
            {
                int i = 0;
                <td align="center">
                    @if (i == 0)
                    {
                        <input type="radio" id="var"
                               name="var" value="@item.id @item.question_id" checked>
                    }
                    else
                    {
                        <input type="radio" id="var"
                               name="var" value="@item.id">
                    }
                </td>
                i++;
            }
        </tr>        
    </table>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Следующий вопрос" class="btn btn-default" />
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

