@model IEnumerable<kr.Models.test_instance>

@{
    ViewBag.Title = "Результаты экспериментов";
}

<h2>Результаты экспериментов</h2>
@using (Html.BeginForm())
{
    <p>
        Поиск: @Html.TextBox("SearchString")
        <input type="submit" value="Найти" />
    </p>
}
<p>
    @Html.ActionLink("Выгрузить результаты", "exportResults")
</p>
<table class="table">
    <tr>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayName("Идентификатор")
            </th>
        }
        <th>
            @Html.DisplayName("Эксперимент")
        </th>
        <th>
            @Html.DisplayName("Начало эксперимента")
        </th>
        <th>
            @Html.DisplayName("Окончание эксперимента")
        </th>
        <th>
            @Html.DisplayName("Результат")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (User.IsInRole("admin"))
            {
                <th>
                    @Html.DisplayFor(modelItem => item.child.id)
                </th>
            }
            <td>
                @Html.DisplayFor(modelItem => item.test.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.end_time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.result)
            </td>
            <td>
                @Html.ActionLink("Просмотреть результат", "DetailsResult", new { id = item.id });
            </td>
        </tr>
    }

</table>
